
.scroll-top-btn {
  background-color: #fff;
  position:fixed;
  bottom:20px;
  right:3%;
  z-index:100;
  font-size:17px;
}

.scroll-top-btn:hover {
  background-color: #e2e2e2;
}

@media only screen and (max-width: 767px) {
  .scroll-top-btn {
    margin-bottom: 3px;
    right: 3px;
    border-radius: 0;
    border-top-left-radius:3px;

  }
}

.btn-outline-hollow {
  @include button-outline-variant($btn-secondary-border);
  @include hover {
    color: $btn-secondary-border;
    background-color: rgba($black, 0.3);
    border-color: $btn-secondary-border;
  }
}
